
body {
  background-color:#f0f0f0; 
}

.h1 {
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.title:first-letter {
  font-size: 40px;
  font-weight: bold;
}

.title-container {
  position: relative;
  top: 40px;
  text-align: left;
  max-width: 360px;
  margin-right:auto;
  margin-left: auto;
}

.box {
  position: relative;
  top: 60px;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  border-radius: 10px;
  border: solid;
  border-color: #f0f0f0;
}

.field {
  margin-top:30px;
}

.main-button {
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.sub-button {
  margin:40px;
  text-align: right;
}

.note {
  color: gray;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
}