
.h1 {
  text-align: center;
}

.title {
  position: relative;
  top: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.box {
  position: relative;
  top: 60px;
  z-index: 1;
  background: #ffffff;
  max-width: 720px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  border-radius: 10px;
  border: solid;
  border-color: #f0f0f0;
}

.field {
  margin-top:30px;
}

.main-button {
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.sub-button {
  margin:20px;
  text-align: right;
}