/* ------------------------------------------------------- */
/* 基本設定 */
/* ------------------------------------------------------- */

body {
    background: #FFFFFF; 
    font-family: "Franklin Gothic Medium";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
    display: flex;    
}

p {
    color: gray;
    margin:10px;
    text-align: center;
}

a {
    color:blue;
    text-decoration: none;
}

/* ------------------------------------------------------- */
/* ヘッダー */
/* ------------------------------------------------------- */
header {
    height: 65px;
    width: 100%;
    background-color: #ffffff;
    border-bottom-color: #eee;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: fixed;
    top: 0;
    z-index: 10;
}
  
.logo {
    width: 124px;
    margin-top: 20px;
}
  
.header-left {
    float: left;
}
  
.header-right {
    float: right;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}
  
.header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

/* ------------------------------------------------------- */
/* プロフィール画像 */
/* ------------------------------------------------------- */
.header-right img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 65px;
}
  


/* ------------------------------------------------------- */
/* ハンバーガーメニュー */
/* ------------------------------------------------------- */
.global-nav {
  position: fixed;
  right: -320px; /* これで隠れる */
  top: 0;
  width: 300px; /* スマホに収まるくらい */
  height: 100vh;
  padding-top: 40px;
  background-color: #fff;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}

.hamburger {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
}

.global-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.global-nav__item {
  text-align: center;
  padding: 0 14px;
}

.global-nav__item a {
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #111;
}

.global-nav__item a:hover {
  background-color: #eee;
}

.hamburger__line {
  position: absolute;
  left: 11px;
  width: 18px;
  height: 1px;
  background-color: #111;
  transition: all .6s;
}

.hamburger__line--1 {
  top: 14px;
}

.hamburger__line--2 {
  top: 20px;
}

.hamburger__line--3 {
  top: 26px;
}

.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}

/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}

.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}

.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}

.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}

.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}

/* ------------------------------------------------------- */
/* レフトメニュー　*/
/* https://www.nxworld.net/tips/css-only-button-design-and-hover-effects.html */
/* ------------------------------------------------------- */

.leftNavigation {
  width: 350px;
  margin-top:100px;
  text-align: center;
  background-color: #fff;
}

.settings-nav  {
  text-align: center;
  color: #fff;
  background-color: #fff;
  border: solid 1px #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.setting-li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
  color: #000000;
  border: solid 1px #eee;
}
.setting-li {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
.setting-li a.active {
	color: #000000;
  background-color: #f8f8ff;
  border-left-color: black;
  border-left-width: 4px;
  border-left-style: inset;
}
.setting-li a:hover:not(.active) {
	color: #000000;
  background-color: #f8f8ff;
  border-left-color: rgb(201, 201, 201);
  border-left-width: 4px;
  border-left-style: inset;
}

/* ------------------------------------------------------- */
/* ライトメニュー　*/
/* ------------------------------------------------------- */

.rightContent {
  flex: 1;
  background-color: #fff;
  border: solid 1px #eee;
  text-align: center;
  margin-top:100px;
  top: 100px;
}