/* ============================= */
/* 作業メモ */
/* 105行目の画像の縮尺をどうするか */
/* できれば等倍にしたいが画像サイズが合わなくなってしまう */
/* ============================= */ 

body {
    background: #e3f1fc;
    margin: 0;    
}


h1 {
    color: black;
    font-size:40pt;
    margin-top:20px;
    margin-bottom:0px;
    text-align:center;

}

a {
    color:gray;
    text-decoration: none;
}



.red {
  color: red;
}

/* ------------------------------------------------------- */
/* ヘッダー  */
/* ------------------------------------------------------- */

header {
  height: 65px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 10;
}

/* ヘッダー左部分 */
.header-left {
  float: left;
}

/* ロゴの大枠（β版にむけてのこしておく) */
.header-left-logo {
  width: 124px;
  height: auto;
  margin-top: 20px;
  margin-left: 30px;
  background-color: #ffffff;
}

/* ロゴ表示 */
.header-left h3 {
  color: gray;
}

/* ヘッダー右部分　*/
.header-right {
  float: right;
  display: flex;
  flex-wrap: nowrap;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* プロフィール画像 */
.header-right img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 85px;
  margin-left: 0;
}

/* アイコン背景 */
.header-right-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

/* アイコン自体の設定 */
.header-right i {
  margin-top: 12px;
  color: gray;
}

.header-right i:hover {
  color: black;
}


/* ------------------------------------------------------- */
/* ハンバーガメニュー  */
/* ------------------------------------------------------- */

.global-nav {
  position: fixed;
  right: -320px; /* これで隠れる */
  top: 0;
  width: 300px; /* スマホに収まるくらい */
  height: 100vh;
  padding-top: 40px;
  background-color: #fff;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
}
.global-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-nav__item {
  text-align: center;
  padding: 0 14px;
  line-height: 60px;
}
.global-nav__item a {
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #111;
}
.global-nav__item a:hover {
  background-color: #eee;
}
.hamburger__line {
  position: absolute;
  left: 11px;
  width: 18px;
  height: 1px;
  background-color: #111;
  transition: all .6s;
}
.hamburger__line--1 {
  top: 14px;
}
.hamburger__line--2 {
  top: 20px;
}
.hamburger__line--3 {
  top: 26px;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}

/* ------------------------------------------------------- */
/* イントロダクション  */
/* ------------------------------------------------------- */
.introduction {
  display: block;
  position: relative;
  top: 80px;
  background-color: #ffffff; /* #e3f1fc */
  width: 80%;
  height: auto;
  max-height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 20px;
  padding-left: 60px;
  border-radius: 10px;
}

/* タイトル・コメント */
.introduction__textbox {
  display: block;
  position: relative;
  width: 70%;
  height: auto;
  margin-bottom: 0;
  background-color: #ffffff;
}

.comment {
  color: gray;
  padding-left: 10px
}

/* タグボックスとボタンボックスの親要素 */
.introduction__sharebox {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: auto;
  margin-top:0;
  background-color: #ffffff;
  border-radius: 10px;
}

/* タグボックス */
.introduction__tagsbox {
  display: block;
  position: relative;
  width: 70%;
  height: auto;
  text-align: left;
  background-color: #ffffff;
}

.tag {
  display: inline-block;
  color: gray;
  background-color: #e3f1fc;  /* #4dccff */
  border-radius: 10px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
}

/* ボタンボックス */
.introduction__buttonbox {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 30%;
  height: auto;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-left: 10px;
}

.introduction__buttonbox p {
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

/* アイコン背景 */
.introduction__icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #e3f1fc;
}

/* アイコンのホバー */
.introduction__buttonbox i:hover {
  color: black;
}

/* いいね数の表示 */
.favorite__number {
  display: inline-block;
  margin-top: 28px;
  margin-right: 10px;
  color: gray;
  font-size: 12px;
}


.icon-red {
  color: red;
}

.icon-blue {
  color: #4dccff;
}

.icon-gray {
  color: gray;
}


/* ------------------------------------------------------- */
/* フッター  */
/* ------------------------------------------------------- */

.footer {
  display: flex;
  flex-wrap: nowrap;
  background-color: #DEE9FC;
  width: 100%;
  height: 250px;
  text-align: left;
}

.footer__box {
  display: block;
  width: 20%;
  height: auto;
  margin: 20px auto;
  background-color: #DEE9FC;
}

.footer__title {
  font-weight: 600; /* boldよりやや細い */
}

.footer p {
 line-height: 20px; 
}

.footer h3 {
  color: gray;
}

/* ------------------------------------------------------- */
/* コンテンツ */
/* ------------------------------------------------------- */

/* 記事の大枠 */
.archive {
  column-count: 3; /* マルチカラム */
  justify-content: space-around;
  position: relative;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 150px;
}

.archive img {
  display: block; 
  margin: 0 auto; /* スライド大枠との余白を消す */
  width: 100%;
  height: auto; /* ここが画像サイズを決める上で重要 */
}

.archive p {
  color: gray;
  margin: 10px;
}

/* 記事 */
.article {
  break-inside:avoid; /* マルチカラム */
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 20px 20px 6px -15px rgba(211, 222, 241, 0.6); 
}

.article-textbox {
  width: 100%;
  height: auto;
  padding-top: 10px;
  line-height: 25px;
}



/* ------------------------------------------------------- */
/* スライドショー */
/* ------------------------------------------------------- */

/* スライドの大枠 */
.hero {
  display: block;
  background-color: #ffffff;
  width: 100%;
}

/* スライド全体 */
.swiper-wrapper {
	width: 100%;
	height: 400px; /* 画像の高さ調節（合わせる）*/
}
/* 全スライド共通スタイル */
.swiper-slide {
	color: #ffffff;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 400px; /* 画像の高さ調節（合わせる） */
}
/* 4の倍数＋1枚目のスライドのスタイル（1枚目、5枚目…） */
.swiper-slide:nth-child(4n+1) {
	background-color: #ffffff;
}
/* 4の倍数＋2枚目のスライドのスタイル（2枚目、6枚目…） */
.swiper-slide:nth-child(4n+2) {
	background-color: #ffffff;
}
/* 4の倍数＋3枚目のスライドのスタイル（3枚目、7枚目…） */
.swiper-slide:nth-child(4n+3) {
	background-color: #ffffff;
}
/* 4の倍数＋4枚目のスライドのスタイル（4枚目、8枚目…） */
.swiper-slide:nth-child(4n+4) {
	background-color: #ffffff;
}

@media screen and (max-width: 480px) {
  .article {
    width: 70%;
    margin: 20px auto;
}
}

